/* @tailwind base */

body {
  text-align: center;
  background-color: #fff1e6;
}

.container {
  margin: auto;
  min-width: 700px;
  width: 50%;
  min-height: 700px;
  padding: 2rem 0;
}

#title {
  text-align: left;
  display: block;
  color: #cb997e;
  text-decoration: none;  
}

#welcome-banner {
  width: 600px;
  margin: auto;
  margin-bottom: 2rem;
}

.return {
  text-align: left;
  display: block;
  color: #cb997e;
  text-decoration: none; 
  opacity: 0.5; 
}

.return:hover {
  opacity: 1;
}